<!-- 

    This file is part of DigitalSimplicity.

    DigitalSimplicity is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    DigitalSimplicity is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with DigitalSimplicity.  If not, see <https://www.gnu.org/licenses/>.

 -->
 <settings>

	<setting propertyKey="@Properties.TopBarStat" title="@Strings.TopStat">
        <settingConfig type="list">
            <listEntry value="5">@Strings.ActivityMinDay</listEntry>
            <listEntry value="6">@Strings.ActivityMinWeek</listEntry>
            <listEntry value="15">@Strings.AltitudeFeet</listEntry>
            <listEntry value="14">@Strings.AltitudeMetres</listEntry>
            <listEntry value="8">@Strings.Nothing</listEntry>
            <listEntry value="0">@Strings.Calories</listEntry>
            <listEntry value="4">@Strings.DistanceFeet</listEntry>
            <listEntry value="3">@Strings.DistanceMetres</listEntry>
            <listEntry value="7">@Strings.FloorsClimbed</listEntry>
            <listEntry value="9">@Strings.HeartRate</listEntry>
            <listEntry value="1">@Strings.Kilojoules</listEntry>
            <listEntry value="11">@Strings.Pressure</listEntry>
            <listEntry value="10">@Strings.SunEvent</listEntry>
            <listEntry value="2">@Strings.Steps</listEntry>
            <listEntry value="12">@Strings.TemperatureCelsius</listEntry>
            <listEntry value="13">@Strings.TemperatureFahrenheit</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BottomBarStat" title="@Strings.BottomStat">
        <settingConfig type="list">
            <listEntry value="5">@Strings.ActivityMinDay</listEntry>
            <listEntry value="6">@Strings.ActivityMinWeek</listEntry>
            <listEntry value="15">@Strings.AltitudeFeet</listEntry>
            <listEntry value="14">@Strings.AltitudeMetres</listEntry>
            <listEntry value="8">@Strings.Nothing</listEntry>
            <listEntry value="0">@Strings.Calories</listEntry>
            <listEntry value="4">@Strings.DistanceFeet</listEntry>
            <listEntry value="3">@Strings.DistanceMetres</listEntry>
            <listEntry value="7">@Strings.FloorsClimbed</listEntry>
            <listEntry value="9">@Strings.HeartRate</listEntry>
            <listEntry value="1">@Strings.Kilojoules</listEntry>
            <listEntry value="11">@Strings.Pressure</listEntry>
            <listEntry value="10">@Strings.SunEvent</listEntry>
            <listEntry value="2">@Strings.Steps</listEntry>
            <listEntry value="12">@Strings.TemperatureCelsius</listEntry>
            <listEntry value="13">@Strings.TemperatureFahrenheit</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.BlinkingColon" title="@Strings.BlinkColon">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DisplayMoveBar" title="@Strings.MoveBar">
        <settingConfig type="boolean" />
    </setting>
</settings>
